{
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.{cls,trigger}",
      "options": {
        "tabWidth": 4,
        "printWidth": 120,
        "parser": "apex"
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "*.{xml,xml-meta}",
      "options": {
        "parser": "xml",
        "xmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}